.questionResponse_container {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid #d7d7d7;
    padding: 10px 15px;
    border-radius: 5px;
    margin: 8px 10px;
    transition: 0.3s;
}

.questionResponse_container:hover {
    background-color: #f5f5f5;
    transition: 0.3s;
}

.question_button_block {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.question {
    font-size: 16px;
    font-weight: bold;
}

.rowNumber {
    color: #13c5b0;
    margin: 0 4px;
}

.questionResponse_button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 5px 10px;
    cursor: pointer;
    margin:auto 2px;
    min-width: 110px;
    transition: background-color 0.3s ease;
    max-height: 40px;
}

.questionResponse_button:hover {
    background-color: #0056b3;
}

.questionResponse_response {
    margin-top: 10px;
    background-color: #f8f9fa;
    padding: 5px 10px;
    border-radius: 4px;
    width: 90%;
    border: 1px solid #e0e0e0;
}