.cursWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.curs {
    border: 1px solid rgba(152, 152, 152, 0.28);
    width: 50%;
    font-size: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    border-radius: 16px;
    margin-bottom: 28px;
    cursor: pointer;
    padding: 10px 30px;
    background-color: #f3f3f3;
    transition: 0.3s;

}

.curs:hover {
    background-color: #eaeaea;
    transition: 0.3s;

}