.close_btn {
    border: 2px solid #ce0202;
    width: fit-content;
    color: #ce0202;
    margin: 12px;
    padding: 4px 8px;
    border-radius: 6px;
    cursor: pointer;

}

.close_wrapper {
    background-color: #fcfcfc;
    position: sticky;
    top: 0;
    overflow: hidden;
    border-bottom: 1px solid rgba(185, 185, 185, 0.32)
}